/* background color */
body {
	background-color: #25292e;
}

/* tooltip style */
.tooltip-inner {
    white-space:pre;
    max-width:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* menu style */
.list-group-mine .list-group-item.active {
    background-color: #475159;
    color: white;
}

.list-group-mine .list-group-item {
    background-color: #343a40;
    color: #e1e1e6;
}

.list-group-mine .list-group-item:hover {
    background-color: #475159;
    color: white;
}

/*   */
[pointer] {
    cursor: pointer;
}

/* setup cdp grid */
@media (min-width: 30em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 50em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 70em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 90em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
